.reg {
    border-radius: 7px;
    background: linear-gradient(45deg, rgba(0,0,0,0.6) 1%,rgba(0,0,0,0.3) 75%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);     
    position: relative;
    top: 50px;
}
.reg__form {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.reg__header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    color: #fff;

}

.reg__field {
    width: 100%;
    padding: 0px 70px;
    position: relative;
}

.reg__field .field{
    width: 100%;
    height: 30px;
    border: .5px solid grey;
    border-radius: 3px;
    background-color: aliceblue;
    text-indent: 5px;
}
.reg__field span{
    color: red;
}
.descr {
    align-self: flex-start;
    font-size: 12px;
    color: red;
    padding-left: 70px;
    letter-spacing: .8px;
}
.regbtn__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.reg__submit__btn {
    font-size: 18px;
    align-self: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: grey;
    align-self: flex-start;
}
.reg__submit__btn:hover {
    color: black;
}
.reg__submit__btn:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.cancel {
    font-size: 18px;
    align-self: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: grey;
    align-self: flex-start;
}
.cancel:hover {
    color: black;
}
.cancel:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.reg .reg__form .reg__field .good {
    display: none;
}
.reg .reg__form .reg__field .validate {
    display: inline-block;
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: -15px;
    left: 70px;
    letter-spacing: .8px;
}

.reg .bad-container {
    border-color: red; 
}
@media screen and (max-width: 650px) {
    .reg {
        top: 0;
    }
}